* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-family: "Roboto", sans-serif;
}
.videos {
  margin: auto;
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
}
.gallery img {
  width: 100%;
  height: 100%;
}
.title {
  text-align: center;
}

.title h1 {
  font-family: "Henny Penny";
  text-align: center;
  font-size: 50px;
  color: #ffcd00;
  -webkit-text-stroke: 2px #70c02d;
  margin-top: 20px;
  margin-bottom: -60px;
  text-decoration: underline;
}

@media (min-width: 375px) and (max-width: 594px) {
  iframe {
    width: 390px;
  }
  title h1 {
    background-color: pink;
    font-size: 100px;
  }
}
